# Create a Postgres database on Vercel: https://vercel.com/postgres
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_HOST=
DATABASE_PASSWORD=
DATABASE=

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=
PUBLIC_HOME=